*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     background-color:black;
     color:red;
     text-shadow: 4px 4px 5px red;

}
h1{
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;


}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    border:2px solid red;
    background-color: red;

}

.box{
    width:18vmin;
    height:18vmin;
    font-size: 10rem;
    border:2px solid rgb(40, 219, 55);
    margin:6px;
    color:rgb(212, 23, 23);
    background-color: rgb(63, 230, 63);
    
}
    

.winner{
    height:50px;
    text-align: center;
    font-size: 30px;
    color:white;
    border:2px solid white;
    width:100vw;
    position:absolute;
    background-color: green;
    opacity:0.5;
    z-index: 1;
    display:none;

}
.btn{
    text-align: center;
    

}
.btn button{
    margin:10px;
    padding:12px 18px;
    background-color: red;
}
button:hover{
    background-color: rgb(224, 221, 44);
}
.cir{
    margin:20px;
    width:40%;
    height:25%;
    border:2px solid green;
    border-radius: 50%;
    box-shadow:1px 1px 5px green 
}
@media screen and (max-width: 450px) {
.game{
    height:50%;
}
.box{
    width:30%;
    height:30%;
    margin: 2px;
    font-size:2rem;
}
}
